<head>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Event Scheduler</h1>
<div id="background">
</div>
<form class="login_form">
  <div class="login_row info_box" id="message">Please enter your username and password in the boxes below</div>
  <div class="login_row">Username <input type="text" id="username" placeholder="Enter your username" ></div><br>
  <div class="login_row">Password <input type="password" id="password" placeholder="Enter your password" ></div><br>
  <div class="login_row"><button id="login-submit" value="Login" onclick=submitForm()>Submit</button></div>
  <script type="text/javascript">function submitForm() {document.getElementById("message").innerHTML = "User not found"}</script>
</form>
</body>