// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  background-image: url("login_page.png");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.75;
  z-index: -1;
}

body {
  overflow: hidden;
}

h1 {
  font-family: "FontAwesome";
  font-size: 38pt;
  color: white;
  text-shadow: 1px 1px 1px darkblue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 45%;
  text-align: center;
}

.login_form {
  font-family: "Inconsolata";
  background-color: #ffffff;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 20em;
  opacity: 0.85;
  padding: 10px 10px 65px 10px;
  border: solid darkgreen 5px;
}

.login_row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
}

.info_box {
  background-color: #d9edf7;
  border: solid deepskyblue 1px;
  margin-bottom: 10%;
  margin-top: 3%;
  font-size: 12pt;
  color: #3a87ad;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

#username, #password {
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  font-size: 10pt;
  line-height: 15px;
  font-family: sans-serif;
}

#username input{
  width: 100%;
}

#login-submit {
  height: 28px;
  width: 80px;
  background-color: #428bca;
  font-size: 12pt;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  box-sizing: border-box;
  border: dotted #428bca 1px;
  font-family: benton-sans-serif;
  float: right;
  margin-top: 5%;
}

.fa
{
  margin-right: 5px;
}