// Place all the styles related to the overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overview_background {
  background: url("tahoe.png") no-repeat fixed center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.85;
  z-index: -2;
}

#overview_header {
  background: url("header.png") top;
  background-size: 25%, 25%;
  width: 100%;
  height: 100px;
  position: absolute;
  opacity: 0.85;
  z-index: 2;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px 0px;
}

#logout-submit {
  height: 26px;
  width: 95px;
  background-color: #327bba;
  font-size: 10pt;
  color: #ffffff;
  text-align: center;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid #0033cc;
  font-family: Tahoma;
  margin-top: 5px;
  margin-right: 10px;
  float:right;
  align-content: center;
  z-index: 3;
  position: relative;
  cursor: pointer;
  clear:both;
}

#logout-submit:hover:enabled {
  background-color: #0dca9f;
  color: #fbfbfb;
  border-color: green;
}

#new_event {
  position: relative;
  width: 35%;
  height: 35px;
  font-size: 14pt;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: auto;
  align-content: bottom;
  z-index: 4;
  padding-bottom: 3px;
}

.header_button {
  margin-top: 30px;
  margin-left: 3px;
  margin-right: 0px;
  height: 41px;
  width: 45px;
  background-color: #203660;
  font-size: 1em;
  align-content: center;
  box-shadow: isnet 0px 1px 1px #2835ec;
  border: 1px solid #436ba5;
  cursor: pointer;
  padding-top: 4px;
  opacity: 0.85;
  z-index: 4;
}

.header_button:hover:enabled {
  background-color: #1fcfeb;
  color: #fdffe2;
  border-color: #0a4980;
}

.fa-plus, .fa-search
{
  color: white;
  align-self: center;
  margin-left: 2px;
}

.event_container_shadow {
  background: none repeat scroll 0% 0% rgba(20, 36, 60, 0.4);
  overflow: visible;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.event_container {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.85);
  width: 60%;
  padding: 20px 20px 20px 20px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: inset 0px 2.5px 0px #8f9ab1;
  z-index: 100;
  position: fixed;
  display: table;
  overflow: visible;
  clear: both;
}

.event_list_container {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
  padding: 10px 0px 0px 0px;
  margin-top: 45px;
  margin-left: 10%;
  box-shadow: inset 0px 2.5px 0px #8f9ab1;
  z-index: 0;
  position: relative;
  clear: both;
  min-height: 1000px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.event_list_item {
  background: none repeat scroll 0% 0% rgba(190, 219, 223, 0.70);
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.event_list_item:hover {
  background: none repeat scroll 0% 0% rgba(155, 211, 240, 0.70);
  padding: 10px;
  width: 100%;
}

.event_detail_container {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
  padding: 20px 20px 20px 20px;
  margin-top: 45px;
  box-shadow: inset 0px 2.5px 0px #8f9ab1;
  z-index: 0;
  position: relative;
  clear: both;
  min-height: 600px;
}

#event_description {
  width: 100%;
  height: 200px;
  overflow: scroll;
  align-content: top;
  margin-left: auto;
  margin-right: auto;
}

#event_location {
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
}

#event_time, #event_date {
  width: 100%;
  margin-bottom: 10px;
}

.p {
  font-family: "tahoma";
}

#event_cancel {
  float: right;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 28px;
  line-height: 24px;
  background-color: #8183b2;
  box-shadow: isnet 0px 1px 1px #2835ec;
  border: 1px solid #5560a5;
  color: #ffffff;
}

#event_submit {
  float: right;
  margin-top: 10px;
  margin-left: 8px;
  line-height: 24px;
  background-color: #327bba;
  box-shadow: isnet 0px 1px 1px #2cbdec;
  border: 1px solid #4490a5;
  color: #ffffff;
}

#event_cancel:hover:enabled {
  background-color: #eb2259;
  color: #fdffe2;
  border-color: 1px solid #801c2c;
}

#event_submit:hover:enabled {
    background-color: #47e084;
    color: #fdffe2;
    border-color: 1px solid #20805a;
}

.event_title {
  font-family: "Verdana";
  font-weight: thin;
  font-size: 18pt;
  color: #e8f4f6;
  text-shadow: 1px 1px 1px #36608b;
  width: 100%;
  text-align: left;
  margin: auto;
  padding-bottom: 20px;
}

#welcome_user {
  font-family: "Verdana";
  font-weight: normal;
  font-size: 10pt;
  color: #96e0ff;
  text-shadow: 0.5px 0.5px 0.5px #000078;
  text-align: left;
  margin-top: 2px;
  margin-right: 2px;
  float: right;
  position: relative;
  z-index: 3;
  clear:both;
}

.event_row {
  float: left;
  width: 100%;
}

.attendants_panel {
  border-left: thin solid #34c6d6;
  height: 100%;
  padding-left: 10px;
}

.description_box {
  border: thin solid #34c6d6;
  width: 100%;
  padding: 10px;
  min-height: 40px;
  position: relative;
  clear: both;
}

.rsvp_button {
  width: 47px;
  height: 47px;
  border: none;
  background: none repeat scroll 0% 0% rgba(190, 219, 223, 0.10);
  margin-left: -50px;
  position: absolute;
  margin-top: 20px;
}

.fa-plus-circle {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: relative;
  color: #2ba46b;
}

.fa-times {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #c71b18;
  padding: 0px;
}

.fa-check-circle {
  margin-left: 1px;
  position: relative;
  color: #18a45b;
}