// Place all the styles related to the overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overview_background {
  background: url("tahoe.png") no-repeat fixed center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.85;
  z-index: -2;
}

#overview_header {
  background: url("header.png") top;
  background-size: 25%, 25%;
  width: 100%;
  height: 100px;
  position: absolute;
  opacity: 0.85;
  z-index: 2;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px 0px;
}

#logout-submit {
  height: 30px;
  width: 100px;
  background-color: #327bba;
  font-size: 12pt;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  box-sizing: border-box;
  border: 1px solid #0033cc;
  font-family: Tahoma;
  float: right;
  margin-right: 1%;
  align-content: center;
  z-index: 3;
  position: relative;
  cursor: pointer;
}

#logout-submit:hover:enabled {
  background-color: #0dca9f;
  color: #fbfbfb;
  border-color: green;
}

#new_event {
  position: relative;
  width: 35%;
  height: 35px;
  font-size: 18pt;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: auto;
  align-content: bottom;
  z-index: 4;
  padding-bottom: 3px;
}

.header_button {
  margin-top: 30px;
  margin-left: 3px;
  margin-right: 0px;
  height: 41px;
  width: 45px;
  background-color: #203660;
  font-size: 1em;
  align-content: center;
  box-shadow: isnet 0px 1px 1px #2835ec;
  border: 1px solid #436ba5;
  cursor: pointer;
  padding-top: 4px;
  opacity: 0.85;
  z-index: 4;
}

.header_button:hover:enabled {
  background-color: #1fcfeb;
  color: #fdffe2;
  border-color: #0a4980;
}

.fa-plus, .fa-search
{
  color: white;
  align-self: center;
  margin-left: 2px;
}

.event_container {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.55);
  width: 50%;
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  box-shadow: inset 0px 2.5px 0px #8f9ab1;
  z-index: 0;
  position: relative;
  display: table;
  overflow: visible;
  clear: both;
}

#event_description {
  width: 100%;
  height: 200px;
  overflow: scroll;
  align-content: top;
  margin-left: auto;
  margin-right: auto;
}

#event_location {
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
}

#event_time, #event_date {
  width: 100%;
  margin-bottom: 10px;
}

.p {
  font-family: "tahoma";
}

#event_cancel {
  float: right;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 28px;
  line-height: 24px;
  background-color: #8183b2;
  box-shadow: isnet 0px 1px 1px #2835ec;
  border: 1px solid #5560a5;
  color: #ffffff;
}

#event_submit {
  float: right;
  margin-top: 10px;
  margin-left: 8px;
  line-height: 24px;
  background-color: #327bba;
  box-shadow: isnet 0px 1px 1px #2cbdec;
  border: 1px solid #4490a5;
  color: #ffffff;
}

#event_cancel:hover:enabled {
  background-color: #eb2259;
  color: #fdffe2;
  border-color: 1px solid #801c2c;
}

#event_submit:hover:enabled {
    background-color: #47e084;
    color: #fdffe2;
    border-color: 1px solid #20805a;
}

.event_title {
  font-family: "Verdana";
  font-weight: normal;
  font-size: 24pt;
  color: white;
  text-shadow: 1px 1px 1px darkblue;
  width: 100%;
  text-align: left;
  margin: auto;
  padding-bottom: 20px;
}
